apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: prometheus-ds
    url: http://prometheus:9090
    isDefault: true
  - name: Loki
    type: loki
    access: proxy
    uid: loki-ds
    url: http://loki:3100
